/node_modules
/public/hot
/public/storage
/public/image/floors
/public/image/buildings
/public/image/directoryPath
/public/videos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
gravefinder.json
firebase.json